/* ==========================================================================
 Author's custom styles
 ========================================================================== */

body {
    font-family: 'Open Sans', sans-serif;

}

.wrapper {
    padding: 0;
}

h1 {
    font-weight: 800;
    font-size: 40px;
}

.centered {
    float: none;
    margin: auto;
}

.thumbnails img {
    width: 100%;
}

div.gallery > div {
    padding: 0;
}

section {
    clear: both;
}

.about, footer {
    padding: 5%;
}

nav {
    height: 50px;
}

#siteBg {
    z-index: -1000;
    overflow: hidden;
}


.background-poster {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    bottom: 0px;
    right: 0px;
    opacity:0;
}

/* ==========================================================================
 GALLERY
 ========================================================================== */
.project-container {
    display: block;
    background-color: #FFF;
    position: relative;
}

.project-container a, .project-container a:hover {
    text-decoration: underline;
}

.images-controller li {
    list-style: none;
    border: solid black;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    float: left;
    margin-left: 5px;
}

.project {
    position: absolute;
    text-align: left;
}

.project h2 {
    height: 32px;
    font-size: 190%;
    text-transform: uppercase;
    text-align: left;
    font-weight: 200;
    line-height: 1.1;
}

#about p {
    text-indent: 30px;
}

#about .lazy {
    background-color: #FFF !important;
}

#thumb-container {
    position: relative;
}

.thumbs img {
    padding: 0;
    width: 100%;
    height: auto;
}

.thumbs {
    padding: 0;
    position:relative;

}

.thumbs-col {
    padding: 0;
    margin: 0;
}

.thumbs .caption {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border:solid rgba(0,0,0,0) 0px;
    -webkit-transition-property: opacity, border-width;
    -webkit-transition-duration: .4s;
    overflow: hidden;

}
.thumbs:hover .caption {
    opacity: 1;
    pointer-events:none;

}

.thumbs:hover .caption span {
    font-size:115%;
    border-bottom:solid rgba(52, 86, 137, 0.75) 10px;
}

.thumbs .caption-wrapper {
    display: table;
    width:100%;
    height:100%;
    position:relative;
    color: #243c60;
    font-weight: bold;
}

.thumbs .caption-wrapper span {
    border-bottom:solid rgba(52, 86, 137, 0.5) 100px;
    padding:5%;
    background-color:rgba(255,255,255,.9);
    text-transform: uppercase;
    line-height: 1.1;
    font-size:110%;
    text-align: left;
    vertical-align: middle;
    display: table-cell;
    -webkit-transition-property: all;
    -webkit-transition-duration: .7s;
}

.thumb .project-sml {
    display: none;
}

.item img {
    width: 100%;
}

.leo {
    background: transparent url('../images/leo2.jpg');
    background-size: cover;
    background-position: top center;
    width: 100%;
    min-height: 900px;
    position: relative;
}

.wht-frame {
    border: solid white 10px;
    border-radius: 2px;
    -webkit-transition: height 1.5s ease-out;
}

dt, dd {
    word-wrap: break-word;
    font-size: 140%;
    position: relative;
    display: inline;
    line-height: 1.7;
}


section#contact {
    background-color: rgba(255,255,255,.95);
    color: #000;
}

.btn-default {
    color: #333;
}


.intro-nav a {
    text-decoration: none;
}

.project-sml-container {
    font-size: 100%;
    position: absolute;
    padding: 20% 3%;
    background-color: rgba(0, 0, 0, .75);
    width: 100%;
    height: 32%;
    display: none;
}

.project-sml-container p {
    vertical-align: middle;
    text-align: left;
    display: table-cell;
}

.site-logo {
    display: none;
    background: transparent url("../images/lvlogo-w.png") no-repeat;
    background-size: cover;
    position: relative;
    width: 50px;
    height: 52px;
}

.project #close-btn {
    display:none;
    text-decoration: none;
}

.navbar ul {
    margin-right: 10px;
}

.logo-copy {
    float: left;
    margin-left: 5px;
}

#mobileBackup {
    display:none;
}

@media (max-width: 767px) {

    .background-poster {
        opacity:1;
    }

    #mobileBackup {
        display:block;
    }

    #myPlayer {
        display:none;
    }
    .navbar-brand {
        position: relative;
        float:left;
    }

    .navbar .container {
        background-color: #FFFFFF;
    }

    .site-logo {
        display: block;
    }

    section.intro ul {
        display: none;
    }

    h3 {
        margin-left: 4px;
    }

    h3 a:hover {
        color: black;
    }

    h1:before {
        display: none;
        font-size: 30px;
    }

    h2.brand-heading {

    }

    h1, h2.brand-heading {
        text-indent: 0;
    }

    .intro .header {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .leo {
        min-height: 500px;
    }

    .subheader {
        left: 0;
    }

    section#about h2 {
        display: block;
    }

    .navbar-nav {
        margin: 0;
    }

    .navbar-collapse {
        width: 100%;
        height:auto;
    }
    .active-thumb .project-sml-container {
        display: block;
    }
    nav {
        height:auto;
    }

    .mobile-slideshow {
        position: fixed;
        top: 15%;
        z-index:10;
        width:100%;
    }

    .mobile-slideshow h2 {
        display:table-cell;
    }

    #project-container {
        display: none;
    }

    .project #close-btn {
        font-size: 240%;
        position: absolute;
        top: 0;
        right: 0px;
    }

    #project-bg {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.65);
        left: 0;
        top: 0;
        z-index: -1;
    }
    .thumbs .caption-wrapper span {
        font-size: 235%;
    }

    .thumbs:hover .caption span {
        font-size:300%;
        border-bottom:solid rgba(52, 86, 137, 0.75) 10px;
    }
}

@media (max-width: 370px) {
    .logo-copy {
        display: none;
    }
    .thumbs .caption {
        display:none;
    }
}
@media (max-width: 285px) {
    .brand-heading {
        font-size:200%;
    }
}
.top-logo {
    min-width: 35px;
    position: relative;
    float: left;
    height: auto;
    top: 0px;
    left: 0px;
}

.top-nav-container {
    background-color: #FFF;
    height: 0;
}

.project {
    -webkit-transition: height .7s ease-in-out;
    -moz-transition: height .7s ease-in-out;
    -o-transition: height .7s ease-in-out;
    transition: height .7s ease-in-out;
    color:white;

}

a .download-icon {
    background: transparent url('../images/downloadicon.png') no-repeat 0 -20px;
    width: 20px;
    height: 18px;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}

a:hover .download-icon {
    background:transparent url('../images/downloadicon.png') no-repeat 0 0;
    background-size: cover;
}

.sprite {
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-downloadicon {
    width: 35px;
    height: 35px;
    background-position: -5px -5px;
}

.sprite-lvlogo-blk {
    width: 144px;
    height: 150px;
    background-position: -50px -5px;
}

.sprite-lvlogo-w {
    width: 150px;
    height: 157px;
    background-position: -204px -5px;
}

.sprite-th_believe {
    width: 220px;
    height: 138px;
    background-position: -364px -5px;
}

.sprite-th_cook {
    width: 220px;
    height: 147px;
    background-position: -364px -153px;
}

.sprite-th_fourthjuly {
    width: 220px;
    height: 165px;
    background-position: -5px -310px;
}

.sprite-th_holiday {
    width: 220px;
    height: 389px;
    background-position: -594px -5px;
}

.sprite-th_newmon {
    width: 220px;
    height: 132px;
    background-position: -235px -404px;
}

.sprite-th_parade {
    width: 220px;
    height: 166px;
    background-position: -465px -404px;
}

.sprite-th_wim {
    width: 220px;
    height: 132px;
    background-position: -5px -580px;
}
