html, body {
  width: 100%;
  height: 100%;
  color: #FFF; }

body {
  font-family: 'Open Sans', Lora, "Helvetica Neue", Helvetica, Arial, sans-serif;
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2); }

nav {
  color: #000;
  height: 50px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px; }

h1 {
  position: relative;
  font-weight: 800;
  font-size: 40px;
  text-indent: 39px;
  position: relative; }

h2 {
  text-align: center; }

h3 {
  font-size: 110%;
  margin: 0;
  padding: 0; }

p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5; }

@media (min-width: 767px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6; } }

a {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

a, a:hover, a:focus {
  color: inherit; }

img::-moz-selection {
  background: 0 0; }

section {
  clear: both; }

form {
  display: table;
  margin: auto; }

textarea {
  resize: none;
  height: 150px; }

dt, dd {
  position: relative;
  word-wrap: break-word;
  font-size: 140%;
  display: inline;
  line-height: 1.7; }

@-webkit-keyframes pulse {
  0 {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes pulse {
  0 {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-moz-keyframes pulse {
  0 {
    -moz-transform: scale(1);
    transform: scale(1); }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -moz-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes fillLoop {
  0% {
    fill: #86a4ce; }
  50% {
    fill: #5e6870; }
  100% {
    fill: #86a4ce; } }

@-moz-keyframes fillLoop {
  0% {
    fill: #86a4ce; }
  50% {
    fill: #5e6870; }
  100% {
    fill: #86a4ce; } }

@-o-keyframes fillLoop {
  0% {
    fill: #86a4ce; }
  50% {
    fill: #5e6870; }
  100% {
    fill: #86a4ce; } }

@keyframes fillLoop {
  0% {
    fill: #86a4ce; }
  50% {
    fill: #5e6870; }
  100% {
    fill: #86a4ce; } }

@-webkit-keyframes colorLoop {
  0% {
    color: #86a4ce; }
  50% {
    color: #5e6870; }
  100% {
    color: #86a4ce; } }

@-moz-keyframes colorLoop {
  0% {
    color: #86a4ce; }
  50% {
    color: #5e6870; }
  100% {
    color: #86a4ce; } }

@-o-keyframes colorLoop {
  0% {
    color: #86a4ce; }
  50% {
    color: #5e6870; }
  100% {
    color: #86a4ce; } }

@keyframes colorLoop {
  0% {
    color: #86a4ce; }
  50% {
    color: #5e6870; }
  100% {
    color: #86a4ce; } }

.header .logoLoader {
  -webkit-animation: fillLoop 4s infinite;
  -moz-animation: fillLoop 4s infinite;
  -o-animation: fillLoop 4s infinite;
  animation: fillLoop 4s infinite; }

.header .titleLoader {
  -webkit-animation: colorLoop 4s infinite;
  -moz-animation: colorLoop 4s infinite;
  -o-animation: colorLoop 4s infinite;
  animation: colorLoop 4s infinite; }

.centered {
  float: none;
  margin: auto; }

.wrapper {
  padding: 0; }

.wht-frame {
  border: solid white 10px;
  border-radius: 2px;
  -webkit-transition: height 1.5s ease-out;
  -moz-animation: height 1.5s ease-out;
  -o-animation: height 1.5s ease-out;
  animation: height 1.5s ease-out; }

.brand-heading {
  margin: 0; }

.navbar {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: none;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  background-color: #fff; }
  .navbar ul {
    margin-right: 10px; }
  .navbar .top-nav-container {
    background-color: #FFF;
    height: 0; }

.navbar-custom {
  border-width: 0 0 0px !important; }

.navbar-custom .nav li:hover, .navbar-custom .nav a:hover {
  color: white;
  background-color: black; }

.navbar-custom .nav li.active {
  color: #FFF;
  background-color: #000;
  /*border-bottom: 5px #000000 solid !important;*/ }

.navbar-custom .navbar-brand {
  position: relative;
  left: 5px; }

.navbar-brand {
  font-weight: 700;
  padding: 4px 15px; }
  .navbar-brand .top-logo {
    min-width: 35px;
    position: relative;
    float: left;
    height: auto;
    top: 0px;
    left: 0px; }
  .navbar-brand:focus {
    outline: 0; }

.table tbody tr:hover td, .table tbody tr:hover th {
  background-color: transparent; }

a .download-icon {
  background: transparent url("../images/downloadicon.png") no-repeat 0 -20px;
  width: 20px;
  height: 18px;
  background-size: cover;
  display: inline-block;
  vertical-align: middle; }

a:hover .download-icon {
  background: transparent url("../images/downloadicon.png") no-repeat 0 0;
  background-size: cover; }

ul.nav a:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.25) !important; }

.navbar-collapse .navbar-brand {
  padding: 0;
  margin: 0;
  height: auto; }

.navbar-main-collapse {
  position: relative;
  background-color: #FFF; }

.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: #fff; }
  .intro .logo-header {
    opacity: 0; }
  .intro .intro-nav a {
    text-decoration: none; }
  .intro .intro-body {
    display: table-cell;
    vertical-align: middle; }
    .intro .intro-body a {
      color: #fff;
      font-size: 40px; }
  .intro .intro-text {
    font-size: 18px; }
  .intro .header {
    position: relative;
    width: 622px;
    height: 75px;
    margin: 0 auto; }
    .intro .header .subheader {
      position: relative;
      left: 24px; }
    .intro .header ul {
      padding-top: 10px;
      width: 540px; }
  .intro .page-scroll {
    clear: both; }
    .intro .page-scroll > i.animated {
      top: 8px;
      -webkit-transition-property: -webkit-transform;
      -webkit-transition-duration: 1s;
      -moz-transition-property: -moz-transform;
      -moz-transition-duration: 1s; }
    .intro .page-scroll:hover > .animated {
      -webkit-animation-name: pulse;
      -moz-animation-name: pulse;
      -webkit-animation-duration: 1.5s;
      -moz-animation-duration: 1.5s;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -moz-animation-timing-function: linear; }
  .intro .btn-lv {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out; }

.header .logo-copy {
  float: left;
  margin-left: 5px; }

#site-background {
  z-index: -1000;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 1;
  display: block;
  position: fixed; }
  #site-background .fullscreen {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%); }
  #site-background .background-poster {
    opacity: 0; }

@media (min-width: 767px) {
  .intro {
    height: 100%;
    -webkit-transition: height 1s ease-out;
    padding: 0; }
    .intro .brand-heading {
      font-size: 40px;
      float: right; }
    .intro .brand-heading > span, .intro .site-logo > polygon {
      -webkit-transition: color .4s ease-out, fill .4s ease-out; }
    .intro .brand-heading > span {
      color: #fff; }
    .intro .site-logo > polygon {
      fill: #fff; }
    .intro .site-logo {
      position: absolute;
      width: 69px;
      height: 72px;
      left: 0;
      top: 7px; }
    .intro .intro-text {
      font-size: 25px; } }

/* ==========================================================================
 GALLERY
 ========================================================================== */
.project-container {
  display: block;
  background-color: #FFF;
  position: relative; }

.project-container a, .project-container a:hover {
  text-decoration: underline; }

.images-controller li {
  list-style: none;
  border: solid black;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  float: left;
  margin-left: 5px; }

.project {
  position: absolute;
  text-align: left; }

.project h2 {
  height: 32px;
  font-size: 190%;
  text-transform: uppercase;
  text-align: left;
  font-weight: 200;
  line-height: 1.1; }

#thumb-container {
  position: relative; }

.thumbs img {
  padding: 0;
  width: 100%;
  height: auto; }

.thumbs {
  padding: 0;
  position: relative; }

.thumbs-col {
  padding: 0;
  margin: 0; }

.thumbs .caption {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: solid transparent 0px;
  -webkit-transition-property: opacity, border-width;
  -webkit-transition-duration: .4s;
  overflow: hidden; }

.thumbs:hover .caption {
  opacity: 1;
  pointer-events: none; }

.thumbs:hover .caption span {
  font-size: 115%;
  border-bottom: solid rgba(52, 86, 137, 0.75) 10px; }

.thumbs .caption-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
  color: #243c60;
  font-weight: bold; }

.thumbs .caption-wrapper span {
  border-bottom: solid rgba(52, 86, 137, 0.5) 100px;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  line-height: 1.1;
  font-size: 110%;
  text-align: left;
  vertical-align: middle;
  display: table-cell;
  -webkit-transition-property: all;
  -webkit-transition-duration: .7s; }

.thumb .project-sml {
  display: none; }

.item img {
  width: 100%; }

.project-sml-container {
  font-size: 100%;
  position: absolute;
  padding: 20% 3%;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 32%;
  display: none; }

.project-sml-container p {
  vertical-align: middle;
  text-align: left;
  display: table-cell; }

.project #close-btn {
  display: none;
  text-decoration: none; }

.content-section {
  padding-top: 150px; }

#map {
  width: 100%;
  height: 300px;
  margin-top: 50px; }

.btn {
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.btn:hover, .btn:focus {
  outline: 0;
  color: white !important; }

.btn-default {
  color: #333;
  background-color: transparent; }

#submit.btn:hover {
  background-color: black; }

.btn-huge {
  padding: 25px;
  font-size: 26px; }

.banner-social-buttons {
  margin-top: 0; }
  .banner-social-buttons .btn {
    margin-bottom: 10px; }
  .banner-social-buttons a:hover {
    color: #000;
    background-color: #000; }

.contact-form input, textarea {
  width: 250px;
  display: block;
  margin-bottom: 10px; }

#about {
  padding: 5%; }
  #about > p {
    text-indent: 30px; }
  #about .lazy {
    background-color: #FFF !important; }
  #about .leo {
    margin-bottom: 20px; }

#contact {
  background-color: rgba(255, 255, 255, 0.95);
  color: #000; }

video::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none; }

@media (min-width: 767px) {
  .content-section {
    padding-top: 25px; }
  .download-section {
    padding: 100px 0; }
  ul.banner-social-buttons > li:last-child {
    margin-bottom: 0; } }

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px; } }

@media (max-width: 767px) {
  #map {
    height: 250px; }
  .banner-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0; }
  .background-poster {
    opacity: 1; }
  .navbar-brand {
    position: relative;
    float: left; }
  .navbar .container {
    background-color: #FFFFFF; }
  section.intro ul {
    display: none; }
  h3 {
    margin-left: 4px; }
  h3 a:hover {
    color: black; }
  h1:before {
    display: none;
    font-size: 25px; }
  h1, h2.brand-heading {
    text-indent: 0; }
    h1 > span, h2.brand-heading > span {
      display: block; }
  .intro .header {
    width: 100%;
    margin: 0;
    text-align: center; }
    .intro .header .subheader {
      display: block;
      left: 0; }
  .intro .site-logo {
    width: 40px;
    display: block;
    position: relative;
    margin: 0 auto 10px; }
  section#about h2 {
    display: block; }
  .navbar-nav {
    margin: 0; }
  .navbar-collapse {
    width: 100%;
    height: auto; }
  .active-thumb .project-sml-container {
    display: block; }
  nav {
    height: auto; }
  .mobile-slideshow {
    position: fixed;
    top: 15%;
    z-index: 10;
    width: 100%; }
  .mobile-slideshow h2 {
    display: table-cell; }
  #project-container {
    display: none; }
  .project {
    -webkit-transition: height .7s ease-in-out;
    -moz-transition: height .7s ease-in-out;
    -o-transition: height .7s ease-in-out;
    transition: height .7s ease-in-out;
    color: white; }
  .project #close-btn {
    font-size: 240%;
    position: absolute;
    top: 0;
    right: 0px; }
  #project-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    left: 0;
    top: 0;
    z-index: -1; }
  .thumbs .caption-wrapper span {
    font-size: 235%; }
  .thumbs:hover .caption span {
    font-size: 300%;
    border-bottom: solid rgba(52, 86, 137, 0.75) 10px; }
  h1.brand-heading {
    margin-bottom: 10px; }
  .brand-heading > span {
    color: #FFF; }
  .site-logo > polygon {
    fill: #FFF; } }

@media (max-width: 370px) {
  .logo-copy {
    display: none; }
  .thumbs .caption {
    display: none; } }

@media (max-width: 285px) {
  .brand-heading {
    font-size: 200%; } }
