@import "./media-queries.scss";

.content-section {
  padding: 0 2rem 4rem;

  @media (min-width: $bp-sm) {
    padding: 0 5rem 5rem;
  }
  @media (min-width: $bp-ms) {
    padding: 0 10rem 6rem;
  }
}
