$bp-sm: "480px";
$bp-ms: "768px";
$bp-md: "900px";
$bp-lg: "1024px";
$bp-xl: "1240px";

$bp-landscape: "(min-aspect-ratio: 16/9) and (orientation: landscape)";
$bp-portrait: "(max-aspect-ratio: 16/9) and (orientation: portrait)";
