$white-color: #fff;
$black-color: #222;
$gray-color: #333;
$light-gray-color: #999;
$blue-color: #86afd7;
$red-color: #aa1717;

$blue-loader-color: #86a4ce;
$dark-loader-color: #5e6870;
$black-loader-color: #3c444b;
$warning-color: #ee0000;
