@-webkit-keyframes pulse {
  0 {-webkit-transform: scale(1);
    transform: scale(1);}

  50% {-webkit-transform: scale(1.2);
    transform: scale(1.2);}

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulse {
  0 {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
  transform: scale(1.2);
  }

  100% {
     -webkit-transform: scale(1);
  transform: scale(1);
  }
}

@-moz-keyframes pulse {
  0 {
    -moz-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
     -moz-transform: scale(1);
    transform: scale(1);
  }
}

//var colors = ['#86a4ce', '#5e6870', '#3c444b'];
// TODO make mixin

@-webkit-keyframes fillLoop {
  0% {
    fill:#86a4ce;
  }

  50% {
    fill:#5e6870;
  }

  100% {
    fill:#86a4ce;

  }
}
@-moz-keyframes fillLoop {
  0% {
    fill:#86a4ce;
  }

  50% {
    fill:#5e6870;
  }

  100% {
    fill:#86a4ce;

  }
}
@-o-keyframes fillLoop {
  0% {
    fill:#86a4ce;
  }

  50% {
    fill:#5e6870;
  }

  100% {
    fill:#86a4ce;

  }
}
@keyframes fillLoop {
  0% {
    fill:#86a4ce;
  }

  50% {
    fill:#5e6870;
  }

  100% {
    fill:#86a4ce;

  }
}

@-webkit-keyframes colorLoop {
  0% {
    color:#86a4ce;
  }

  50% {
    color:#5e6870;
  }

  100% {
    color:#86a4ce;
  }
}
@-moz-keyframes colorLoop {
  0% {
    color:#86a4ce;
  }

  50% {
    color:#5e6870;
  }

  100% {
    color:#86a4ce;
  }
}

@-o-keyframes colorLoop {
  0% {
    color:#86a4ce;
  }

  50% {
    color:#5e6870;
  }

  100% {
    color:#86a4ce;
  }
}
@keyframes colorLoop {
  0% {
    color:#86a4ce;
  }

  50% {
    color:#5e6870;
  }

  100% {
    color:#86a4ce;
  }
}

.header {
  .logoLoader {
    -webkit-animation: fillLoop 5s infinite;
  }

  .titleLoader {
    -webkit-animation: colorLoop 5s infinite;
  }
}


.centered {
  float: none;
  margin: auto;
}

.wrapper {
  padding: 0;
}

.wht-frame {
  border: solid white 10px;
  border-radius: 2px;
  -webkit-transition: height 1.5s ease-out;
}