@-webkit-keyframes pulse {
  0 {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulse {
0 {
  -webkit-transform: scale(1);
  transform: scale(1);
}

50% {
  -webkit-transform: scale(1.2);
transform: scale(1.2);
}

100% {
   -webkit-transform: scale(1);
transform: scale(1);
}
}

@-moz-keyframes pulse {
  0 {
    -moz-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
     -moz-transform: scale(1);
    transform: scale(1);
  }
}

.centered {
  float: none;
  margin: auto;
}

.wrapper {
  padding: 0;
}

.wht-frame {
  border: solid white 10px;
  border-radius: 2px;
  -webkit-transition: height 1.5s ease-out;
}