$maincolor: #86a4ce;

.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: #fff;

  .intro-nav a {
    text-decoration: none;
  }

  .intro-body {
    display: table-cell;
    vertical-align: middle;
    a {
      color: #fff;
      font-size: 40px;
    }

  }

  .intro-text {
    font-size: 18px;
  }

  .header {
    position: relative;
    width: 622px;
    height: 75px;
    margin: 0 auto;

    .subheader {
      position: relative;
      left: 24px;
    }

    ul {
      padding-top: 10px;
      width: 540px;
    }
  }

  .page-scroll {
    clear: both;
    > i.animated {
      top: 8px;
      -webkit-transition-property: -webkit-transform;
      -webkit-transition-duration: 1s;
      -moz-transition-property: -moz-transform;
      -moz-transition-duration: 1s;
    }

    &:hover > .animated {
      -webkit-animation-name: pulse;
      -moz-animation-name: pulse;
      -webkit-animation-duration: 1.5s;
      -moz-animation-duration: 1.5s;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -moz-animation-timing-function: linear;
    }
  }

  .btn-lv {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
  }

}
.header {
  .logo-copy {
    float: left;
    margin-left: 5px;
  }
}

@media (min-width: 767px) {
  .intro {
    height: 100%;
    -webkit-transition: height 1s ease-out;
    padding: 0;

    .brand-heading {
      font-size: 40px;
      float:right;
    }
    .brand-heading > span,.site-logo > polygon {
      -webkit-transition: color .4s ease-out, fill .4s ease-out;
    }
    .brand-heading > span {
      color: $maincolor;
    }
    .site-logo > polygon {
      fill:$maincolor;
    }

  }

  .site-logo {
    position: absolute;
    width: 69px;
    height: 72px;
    left: 0;
    top: 7px;
  }



  //.brand-heading:before {
  //  content: " ";
  //  background: transparent url("../images/lvlogo.svg") no-repeat;
  //  background-size: 70px;
  //  position: absolute;
  //  top: 7px;
  //  left: 0px;
  //  width: 100%;
  //  height: 180%;
  //}

  .intro-text {
    font-size: 25px;
  }
}

#siteBg {
  z-index: -1000;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 1;
  display: block;
  position: fixed;


  .fullscreen {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%);
  }

  .background-poster {
    opacity:0;
  }
}