/* grayscale */

.light {
  font-weight: 400;
}

div.page-scroll {
  clear: both;
}
.page-scroll i.animated {
  top: 8px;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}

.page-scroll a:hover i.animated {

  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

.content-section {
  padding-top: 100px;
}

.download-section {
  width: 100%;
  padding: 50px 0;
  color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#map {
  width: 100%;
  height: 300px;
  margin-top:50px;
}

@media (min-width: 767px) {
  .content-section {
    padding-top: 25px;
  }

  .download-section {
    padding: 100px 0;
  }

  #map {
    height: 250px;
  }
}

.btn {
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn-default {
  background-color: transparent;
}

.btn-default:hover, .btn-default:focus {
  outline: 0;
  color: #000;
}

.btn-huge {
  padding: 25px;
  font-size: 26px;
}

.banner-social-buttons .btn {
  margin-bottom: 10px;
}
.banner-social-buttons {
  margin-top: 0;
}

.banner-social-buttons a {

}

.banner-social-buttons a:hover {
  color: #000;
  background-color: #000;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  ul.banner-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.banner-social-buttons > li:last-child {
    margin-bottom: 0;
  }
}

.wrapper {
  padding: 0;
}


h2.brand-heading {
  text-indent: 46px;
}


ul.nav a:hover {
  color: white;
  background-color: rgba(255,255,255,.25) !important;
}

.navbar-collapse .navbar-brand {
  padding: 0;
  margin:0;
  height: auto;
}
.navbar-main-collapse {
  position: relative;
  background-color: #FFF;
}

.thumbnails img {
  width: 100%;
}

div.thumbnails > div {
  padding: 0;
}


.about, footer {
  padding: 5%;
}

.contact-form input, textarea {
  width: 250px;
  display: block;
  margin-bottom: 10px;
}

.subheader {
  position: relative;
  left: 24px;
}

#about p {
  text-indent: 30px;
}

#about .lazy {
  background-color: #FFF !important;
}


/* custom */
/* ==========================================================================
 Author's custom styles
 ========================================================================== */

.wrapper {
  padding: 0;
}


.centered {
  float: none;
  margin: auto;
}

.thumbnails img {
  width: 100%;
}

div.gallery > div {
  padding: 0;
}

.about, footer {
  padding: 5%;
}


.background-poster {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  bottom: 0px;
  right: 0px;
  opacity:0;
}
#siteBg {
  z-index: -1000;
  overflow: hidden;
}


.leo {
  background: transparent url('../images/leo2.jpg');
  background-size: cover;
  background-position: top center;
  width: 100%;
  min-height: 900px;
  position: relative;
}

.wht-frame {
  border: solid white 10px;
  border-radius: 2px;
  -webkit-transition: height 1.5s ease-out;
}

dt, dd {
  word-wrap: break-word;
  font-size: 140%;
  position: relative;
  display: inline;
  line-height: 1.7;
}


section#contact {
  background-color: rgba(255,255,255,.95);
  color: #000;
}

.btn-default {
  color: #333;
}

.site-logo {
  display: none;
  background: transparent url("../images/lvlogo-w.png") no-repeat;
  background-size: cover;
  position: relative;
  width: 50px;
  height: 52px;
}


.logo-copy {
  float: left;
  margin-left: 5px;
}

#mobileBackup {
  display:none;
}

@media (max-width: 767px) {

  .background-poster {
    opacity:1;
  }

  #mobileBackup {
    display:block;
  }

  #myPlayer {
    display:none;
  }
  .navbar-brand {
    position: relative;
    float:left;
  }

  .navbar .container {
    background-color: #FFFFFF;
  }

  .site-logo {
    display: block;
  }

  section.intro ul {
    display: none;
  }

  h3 {
    margin-left: 4px;
  }

  h3 a:hover {
    color: black;
  }

  h1:before {
    display: none;
    font-size: 30px;
  }

  h2.brand-heading {

  }

  h1, h2.brand-heading {
    text-indent: 0;
  }

  .intro .header {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  .leo {
    min-height: 500px;
  }

  .subheader {
    left: 0;
  }

  section#about h2 {
    display: block;
  }

  .navbar-nav {
    margin: 0;
  }

  .navbar-collapse {
    width: 100%;
    height:auto;
  }
  .active-thumb .project-sml-container {
    display: block;
  }
  nav {
    height:auto;
  }

  .mobile-slideshow {
    position: fixed;
    top: 15%;
    z-index:10;
    width:100%;
  }

  .mobile-slideshow h2 {
    display:table-cell;
  }

  #project-container {
    display: none;
  }

  .project #close-btn {
    font-size: 240%;
    position: absolute;
    top: 0;
    right: 0px;
  }

  #project-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.65);
    left: 0;
    top: 0;
    z-index: -1;
  }
  .thumbs .caption-wrapper span {
    font-size: 235%;
  }

  .thumbs:hover .caption span {
    font-size:300%;
    border-bottom:solid rgba(52, 86, 137, 0.75) 10px;
  }
}
@media (max-width: 370px) {
  .logo-copy {
    display: none;
  }
  .thumbs .caption {
    display:none;
  }
}
@media (max-width: 285px) {
  .brand-heading {
    font-size:200%;
  }
}

.top-logo {
  min-width: 35px;
  position: relative;
  float: left;
  height: auto;
  top: 0px;
  left: 0px;
}

.top-nav-container {
  background-color: #FFF;
  height: 0;
}

.project {
  -webkit-transition: height .7s ease-in-out;
  -moz-transition: height .7s ease-in-out;
  -o-transition: height .7s ease-in-out;
  transition: height .7s ease-in-out;
  color:white;

}
