.content-section {
  padding-top: 100px;
}

#map {
  width: 100%;
  height: 300px;
  margin-top:50px;
}

.btn {
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn:hover, .btn:focus {
  outline: 0;
  color: white !important;
}

.btn-default {
  color: #333;
  background-color: transparent;
}

#submit.btn {

}

.btn-huge {
  padding: 25px;
  font-size: 26px;
}


.banner-social-buttons {
  margin-top: 0;
  .btn {
    margin-bottom: 10px;
  }
  a:hover {
    color: #000;
    background-color: #000;
  }
}

.contact-form input, textarea {
  width: 250px;
  display: block;
  margin-bottom: 10px;
}

#about {
  padding: 5%;
  p { text-indent: 30px; }
  .lazy {
    background-color: #FFF !important;
  }
  //
  //.leo {
  //  background: transparent url('../images/leo2.jpg');
  //  background-size: cover;
  //  background-position: top center;
  //  width: 100%;
  //  min-height: 900px;
  //  position: relative;
  //}
}

#contact {
  background-color: rgba(255,255,255,.95);
  color: #000;
}


#mobileBackup {
  display:none;
}


@media (min-width: 767px) {
  .content-section {
    padding-top: 25px;
  }

  .download-section {
    padding: 100px 0;
  }

  #map {
    height: 250px;
  }
  ul.banner-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.banner-social-buttons > li:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  .background-poster {
    opacity:1;
  }

  #mobileBackup {
    display:block;
  }

  #myPlayer {
    display:none;
  }
  .navbar-brand {
    position: relative;
    float:left;
  }

  .navbar .container {
    background-color: #FFFFFF;
  }

  .site-logo {
    display: block;
  }

  section.intro ul {
    display: none;
  }

  h3 {
    margin-left: 4px;
  }

  h3 a:hover {
    color: black;
  }

  h1:before {
    display: none;
    font-size: 30px;
  }

  h1, h2.brand-heading {
    text-indent: 0;
  }

  .intro .header {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  .leo {
    min-height: 500px;
  }

  .subheader {
    left: 0;
  }

  section#about h2 {
    display: block;
  }

  .navbar-nav {
    margin: 0;
  }

  .navbar-collapse {
    width: 100%;
    height:auto;
  }
  .active-thumb .project-sml-container {
    display: block;
  }
  nav {
    height:auto;
  }

  .mobile-slideshow {
    position: fixed;
    top: 15%;
    z-index:10;
    width:100%;
  }

  .mobile-slideshow h2 {
    display:table-cell;
  }

  #project-container {
    display: none;
  }


  .project {
    -webkit-transition: height .7s ease-in-out;
    -moz-transition: height .7s ease-in-out;
    -o-transition: height .7s ease-in-out;
    transition: height .7s ease-in-out;
    color:white;
  }

  .project #close-btn {
    font-size: 240%;
    position: absolute;
    top: 0;
    right: 0px;
  }

  #project-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.65);
    left: 0;
    top: 0;
    z-index: -1;
  }
  .thumbs .caption-wrapper span {
    font-size: 235%;
  }

  .thumbs:hover .caption span {
    font-size:300%;
    border-bottom: solid rgba(52, 86, 137, 0.75) 10px;
  }
}
@media (max-width: 370px) {
  .logo-copy {
    display: none;
  }
  .thumbs .caption {
    display:none;
  }
}
@media (max-width: 285px) {
  .brand-heading {
    font-size:200%;
  }
}

