<script id="contact-template" type="text/template">

    <div class="contact-form">

        <form id="contact_form" class="input-lg form-group">

            <span class="form-group contact-name contact-info has-feedback">
                <input id="contact_name" type="text" class="contact_info form-control" name="name"
                       placeholder="Your Name"/>
            </span>
            <span class="form-group contact-email contact-info has-feedback">
                <input id="contact_email" type="text"
                       class="contact_info form-control"
                       name="email"
                       placeholder="Your Email"/>
            </span>
            <span class="form-group contact-subject contact-info has-feedback"><input id="contact_subject" type="text"
                                                                                      class="contact_info form-control"
                                                                                      name="subject"
                                                                                      placeholder="Subject"/>
            </span>
            <span class="form-group contact-message contact-info has-feedback">
                <textarea id="contact_message" class="contact_info col-12 form-control"
                          name="message"
                          placeholder="Your Message"></textarea>
            </span>
            <button id="submit" type="submit" class="btn btn-block">
                SUBMIT
            </button>
        </form>
        <div id="statusMsg" style="display:none"></div>
    </div>
</script>
