<script id="work-template" type="text/template">
    <div data-key="{{id}}" class="thumbs">
        <div class="caption">
            <div class="caption-wrapper">
                <span class="title">{{{title}}}</span>
            </div>
        </div>
        <a href="#/work/{{id}}"><img class="lazy" data-original="assets/thumbs/{{thumb}}"/></a>
    </div>
</script>
